:root {

    /* * colrs for using */
    --colorGreen: rgb(41, 125, 39);
    --colorLightGrey: rgb(239, 239, 239);
    --colorDarkGray: rgb(216, 206, 215);
    --colorWhite: #fff;
    --colorBlack: #000;

    /* * fonts for using */
    --fontPrimary: 'Roboto Condensed', sans-serif;

    --BottomOffset: 20px;
    --LineHeight: 4px;
}

body {
    background-color: var(--colorLightGrey);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fontPrimary);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Valores generales */
h1,
h2,
h3,
h4,
h5,
h6 {    
    font-weight: 700;
}

p {
    font-family: var(--fontPrimary);
}

/* * header */

.encabezado-flex,
.border-line {
    max-width: 80rem;
    margin: 0 auto;
}

.encabezado-flex {
    display: block;
    padding: 2rem;
}

.information-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px) {
    .encabezado-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: none;
}

.btn-menu {
    display: block;
}

@media (min-width: 480px) {
    .logo-flex {
        gap: 2rem;
    }
}


@media (min-width: 768px) {
    .title {
        display: block;
    }

    .btn-menu {
        display: none;
    }
}

/* Modificando tamño del logotipo */
.logo-flex img {
    height: 6rem;
}

@media (min-width: 480px) {
    .logo-flex img {
        height: 8rem;
    }
}

.title h1,
h2 {
    margin: .5rem;
    text-align: center;
    color: var(--colorGreen);
}



@media (min-width: 480px) {
    .title h1 {
        font-size: 3rem;
    }
}

.title h2 {
    text-transform: uppercase;
}

/* Estructura de contactanos */
.btn-informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    border: 1px solid var(--colorGreen);
    padding: 0 .4rem;
    border-radius: 8px;
}


@media (min-width: 768px) {
    .btn-informacion {
        display: flex;
        align-items: center;
        gap: .2rem;
        border: 1px solid var(--colorGreen);
        padding: 0 .4rem;
        border-radius: 8px;
        transition: 0.3s;
    }

    .btn-informacion:hover {
        transform: scale(1.1);
    }
}

.btn-informacion p,
a {
    color: var(--colorBlack);
    margin: .5rem;
    text-decoration: none;
}

.btn-informacion span {
    font-weight: 700;
    margin-top: .2rem;
}

/* Border para separar el Menú */
.border-line {
    border: 1px solid var(--colorDarkGray);
}

/* Sección de la Navegación */

#navegacion ul {
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    background-color: var(--colorGreen);
    padding: 1rem 2rem;
}

#navegacion ul li a {
    color: var(--colorWhite);
    font-size: 1.2rem;
    transition: 0.3s;
}


/* .navegacion ul li a:hover {
    border-bottom: 1px solid var(--colorWhite);
    transform: scale(1.1);
} */
@media (min-width: 768px) {
    #navegacion ul>li>a {
        position: relative;
        z-index: 1;
    }

    #navegacion ul>li>a::before {
        position: absolute;
        content: '';
        display: block;
        z-index: -1;
        background: var(--colorDarkGray);
        width: 0;
        height: var(--LineHeight);
        bottom: var(--BottomOffset);
        border-radius: var(--LineHeight);
        left: 50%;
        transition: 0.4s cubic-bezier(0.25, 0.1, 0, 2.02);
    }

    #navegacion ul>li>a:hover::before {
        width: calc(100% + var(--LineHeight));
        left: calc(var(--LineHeight) / -2);
    }
}

@media (min-width: 768px) {
    .nav-responsive {
        display: none;
    }
}

.nav-responsive {
    margin-left: 16rem;
    margin-top: -12rem;
}

@media (min-width: 390px) {
    .nav-responsive {
        margin-left: 18rem;
        margin-top: -12rem;
    }
}

@media (min-width: 450px) {
    .nav-responsive {
        margin-left: 23rem;
        margin-top: -12rem;
    }
}

@media (min-width: 468px) {
    .nav-responsive {
        margin-left: 23rem;
        margin-top: -13rem;
    }
}

@media (min-width: 525px) {
    .nav-responsive {
        margin-left: 26rem;
        margin-top: -13rem;
    }
}

@media (min-width: 612px) {
    .nav-responsive {
        margin-left: 32rem;
        margin-top: -13rem;
    }
}

@media (min-width: 712px) {
    .nav-responsive {
        margin-left: 40rem;
        margin-top: -13rem;
    }
}

@media (min-width: 765px) {
    .nav-responsive {
        display: none;
    }
}

.responsive ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    .nav-responsive {
        padding: 5px 10px;
        cursor: pointer;
    }

    nav.responsive {
        display: block;
        position: absolute;
        margin-left: 10.4rem;
        top: 80px;
        background-color: var(--colorGreen);
        width: 30rem;
        border-radius: 8px;
        margin-top: 3rem;
        text-align: center;
        height: 28rem;
    }

    @media (max-width: 712px) {
        nav.responsive {
            width: 22rem;
        }
    }

    @media (max-width: 612px) {
        nav.responsive {
            width: 16rem;
        }
    }

    @media (max-width: 525px) {
        nav.responsive {
            width: 14rem;
        }
    }

    @media (max-width: 422px) {
        nav.responsive {
            width: 14rem;
            margin-left: 8rem;
        }
    }



    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid var(--colorDarkGray);
        padding: 1.8rem 0;
    }
}

/* Quienes somos */
.contenedor {
    max-width: 100rem;
    margin: 0 auto;
}

.section-princp {
    margin-top: 13rem;
}

.section-second {
    margin-top: 4rem;
}


@media (min-width: 774px) {

    .section-princp,
    .section-second {
        margin-top: 3.3rem;
    }
}

.section-princp h2,
.section-second h2,
.section-categoria h2,
.section-catalogo h2,
.ubication h2 {
    font-weight: 700;
    color: var(--colorBlack);
    text-align: center;
    font-size: 2.5rem;
}

.flex-sect p {
    text-align: start;
    padding: .6rem;
    font-size: 1.2rem;
}

.flex-sect p span {
    font-weight: 700;
    font-size: 1.8rem;
}


.flex-sect img {
    max-width: 100%;
}

.flex-sect img,
.clientes-grid img {
    margin: 2rem 0;
}

.clientes-grid img {
    display: block;
    width: 100%;
}

.clientes-grid .img-width {
    max-width: 100%;
    padding: 1rem;
}

@media (min-width: 460px) {
    .clientes-grid .img-width {
        max-width: 60%;
    }
}


/* @media (min-width: 768px) { 
     .clientes-grid .img-width {
        height: 12rem;
        margin-left: 0;
        width: 12rem;
     }
} */

@media (min-width: 768px) {
    .clientes-grid {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
    }
}


@media (min-width: 968px) {

    .flex-sect,
    .clientes-grid {
        /* margin-top: 2rem; */
        padding: 2rem;
    }

    .flex-sect {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }

    .flex-sect img {
        width: 35rem;
    }

    .clientes-grid {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-items: center;
    }

    .clientes-grid img {
        max-width: 100%;
    }

}

/* Categorias */

.categorias-flex {
    display: block;
    padding: 0 0 2rem;
}

@media (min-width: 768px) {
    .categorias-flex {
        padding: 2rem;
    }
}

.list-primary ul {
    margin-bottom: 3rem;
}

.list-primary ul li,
.list-second ul li {
    margin-bottom: .6rem;
    color: var(--colorGreen);
    font-weight: 700;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .section-categoria {
        max-width: 60rem;
        margin: 0 auto;
    }

    .categorias-flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .list-primary ul {
        margin-bottom: 0;
    }
}

/* Card de los catalogos */

.section-catalogo {
    max-width: 66rem;
    margin: 0 auto;
}

.catalog-flex {
    display: block;
    padding: 0 2rem;
}

@media (min-width: 540px) {
    .catalog-flex {
        padding: 0 9rem;
    }
}

/* @media (min-width: 694px) {
    .catalog-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
    }
} */

@media (min-width: 968px) {
    .catalog-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 1200px) {

    .catalog-flex {
        grid-template-columns: repeat(3, 1fr);
    }

    .catalog-flex {
        padding: 2rem 0;
    }
}

.card-catalog {
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    padding: .5rem 2rem 2rem;
    text-align: center;
    margin: 4rem 0 2rem;
}

@media (min-width: 768px) {
    .card-catalog {
        margin-top: 1rem;
    }
}

.card-catalog img {
    height: 20rem;
}

.btn-info {
    display: flex;
    align-items: center;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    padding: .5rem 1rem;
    justify-content: space-around;
    border-radius: 8px;
    max-width: 100%;
    transition: 0.3s;
    text-align: start;
    font-weight: 700;
    font-family: var(--fontPrimary);
    font-size: 1.1rem;
}

.btn-info:hover {
    transform: scale(1.1);
}

/* Mostrando ubicación de la Empresa */
.ubication,
.footer {
    max-width: 100rem;
    margin: 0 auto;
}

.map {
    border-radius: 10px;
    background-color: var(--colorGreen);
    padding: 1rem;
    width: 100%;
    height: 20rem;
}

.ubication-flex {
    display: block;
    padding: 2rem 3rem;
}

.p-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}

.p-flex .icon {
    width: 5rem;
    height: 5rem;
}

@media (min-width: 460px) {
    .p-flex .icon {
        width: 44px;
        height: 44px;
    }
}

.p-flex p {
    font-size: 1.2rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .ubication-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .map {
        height: 25rem;
        width: 45rem;
    }
}

/* Footer */

.footer {
    display: block;
}

.footer-flex {
    padding: 1rem 2rem;
    font-family: var(--fontPrimary);
    font-weight: 700;
}

@media (min-width: 968px) {
    .footer-flex {
        padding: 1rem 4rem;
    }
}

.footer-flex p {
    margin: 0;
}

@media (min-width: 964px) {
    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 4rem;
        gap: 2rem;
        font-family: var(--fontPrimary);
        font-weight: 700;
    }
}

.vision h4,
.mision h4,
.valores h4 {
    font-size: 1.6rem;
}

.vision p,
.mision p,
.valores ul li {
    font-size: 1.2rem;
}

.mision {
    padding-right: 2rem;
}

.valores ul li {
    margin-bottom: .5rem;
}


@media (min-width: 968px) {
    .lista {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        margin: 0;
        padding: 0;
    }

    .lista li:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
}


.p-footer {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: var(--colorGreen);
}

/* Button subir */
.go-top-container {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: var(--colorGreen);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button .icon {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show .icon {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }

    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}